
{% extends 'partial/base.html' %}
{% load widget_tweaks %}
{% block title %}Vote{% endblock %}
{% block content %}
{% include "partial/nav.html" %}
<h3> </h3>
<div class='container'>
  <div class="card col-7 offset-2 shadow">
    <center>
    <h5 class="card-header">{{ votes.position}}</h5>
    </center>
    <div class="card-body ">
        <form method='POST'>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                <div class="card">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title">{{votes.Name_1}}</h5>
                            <img src={% if votes.image_1.url %}{{votes.image_1.url}}{% endif %} height='200px' width='200px' id='fit' alt='image_1'>
                            <hr>
                            <p>Vote here: {{result.count_2}}</p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1"></label>
                            </div>
                        </center>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title">{{votes.Name_2}}</h5>
                                {% if votes.image_2 %}<img src={{votes.image_2.url}} height='200px' width='200px'id='fit' alt=''>
                                {% else %}
                                wyetgdhbaifudjn hehfndciudf erbfliuf lkkuyigy8
                                {% endif %}
                                <hr>
                                <p>Vote here: {{result.count_2}}</p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2"></label>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <center>
             <input class='btn btn-success mt-5' type='submit' value='Submit'>
            </center>
        </div>
    </div>
  </div>
</div>
{% endblock %}